.catalog {
  &__title {
    margin: 60px 0 50px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    &__title {
      margin: 29px 0 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    &__title {
      margin: 25px 0 97px;
    }
  }
}
