.page-header {
  width: 100vw;
  border-bottom: 1px solid #CAC7C7;

  &__wrapper {
    @extend .wrapper;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0 2px;
  }

  &__logo {
    width: 42px;
    height: 42px;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6%;
    padding: 5px 9px;
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  &__contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    }

  &__phone {
    min-width: max-content;
    font-family: $links-font;
    color: $grey-text-color;
    font-size: 0.75rem;
    line-height: 0.91rem;

    span.hide-mobile {
      display: none;
    }
  }

  &__instagram {
    display: flex;
    width: 16px;
    height: 16px;
    margin: 0 0 0 6%;
    background: url('../img/icon-instagram.svg') no-repeat center center / 100% 100%;
    outline: 0;
    @include hover;
  }

  &__nav-toggle {
    display: flex;
    width: 18px;
    height: 11px;
    border: none;
    background: url('../img/icon-mobile-menu.svg') no-repeat center center / 100% 100%;
    cursor: pointer;
    @include hover;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    &__wrapper {
      padding: 0;
    }

    &__logo {
      width: 58px;
      height: 58px;
    }

    &__phone {
      font-size: 0.875rem;
      line-height: 1.0625rem;

      span.hide-mobile {
        display: inline-block;
      }
    }

    &__order {
      margin: 0 0 0 5%;
      padding: 7px 25px;
      font-size: 0.875rem;
      line-height: 1.0625rem;
    }

    &__nav-toggle {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    &__wrapper {
      padding: 0 0 8px;
    }

    &__logo {
       width: 87px;
       height: 87px;
    }

    &__instagram {
      width: 20px;
      height: 20px;
    }

    &__phone {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    &__order {
      padding: 10px 26px;
      font-size: 1.125rem;
      line-height: 1rem;
    }
  }
}
