-
  const catalogStyles = [
    {
      title: 'Нежность в деталях',
      img: 'style-01.png',
      imgXL: 'style-01-desktop.webp',
      imgMD: 'style-01-tablet.webp',
      imgSM: 'style-01.webp',
    },
    {
      title: 'Роскошь красок',
      imgXL: 'style-02-desktop.webp',
      imgMD: 'style-02-tablet.webp',
      imgSM: 'style-02.webp',
    },
    {
      title: 'Лиловая классика',
      imgXL: 'style-03-desktop.webp',
      imgMD: 'style-03-tablet.webp',
      imgSM: 'style-03.webp',
    },
    {
      title: 'Свадебная вечеринка',
      imgXL: 'style-04-desktop.webp',
      imgMD: 'style-04-tablet.webp',
      imgSM: 'style-04.webp',
    },
    {
      title: 'Припыленный монохром',
      imgXL: 'style-05-desktop.webp',
      imgMD: 'style-05-tablet.webp',
      imgSM: 'style-05.webp',
    },
    {
      title: 'Моно из роз',
      imgXL: 'style-06-desktop.webp',
      imgMD: 'style-06-tablet.webp',
      imgSM: 'style-06.webp',
    },
    {
      title: 'Современная классика',
      imgXL: 'style-07-desktop.webp',
      imgMD: 'style-07-tablet.webp',
      imgSM: 'style-07.webp',
    },
    {
      title: 'Лаконичный акцент',
      imgXL: 'style-08-desktop.webp',
      imgMD: 'style-08-tablet.webp',
      imgSM: 'style-08.webp',
    },
    {
      title: 'Воздушная нежность',
      imgXL: 'style-09-desktop.webp',
      imgMD: 'style-09-tablet.webp',
      imgSM: 'style-09.webp',
    },
  ];

  const catalogPositionTypes = {
    basic: 'Базовый комплект',
    onePersonSet: 'Комплект сервировки на\u00A0одну\u00A0персону',
    goblet: 'Бокал',
    plate: 'Тарелка',
    servingPlate: 'Тарелка сервировочная',
    flatware: 'Приборы',
    tissue: 'Салфетка',
    candles: 'Свечи',
  };

  const catalogPositions = [
    //- Базовый комплект
    {
      position: 'basic',
      title: 'Нежность в\u00A0деталях',
      descr: 'Цветочная композиция в\u00A0вазе, тонкие свечи и\u00A0подсвечники 4\u00A0шт., пудровая скатерть для\u00A0круглого стола',
      price: 5800,
      img: 'style-page-01-basic.png',
      imgXL: 'style-page-01-basic-desktop.webp',
      imgMD: 'style-page-01-basic-tablet.webp',
      imgSM: 'style-page-01-basic.webp',
    },
    {
      position: 'basic',
      title: 'Роскошь красок',
      descr: 'Цветочная композиция в вазе, тонкие свечи и\u00A0подсвечники 4\u00A0шт., пудровая скатерть для\u00A0круглого стола',
      price: 5800,
      img: 'style-page-02-basic.png',
      imgXL: 'style-page-02-basic-desktop.webp',
      imgMD: 'style-page-02-basic-tablet.webp',
      imgSM: 'style-page-02-basic.webp',
    },
    {
      position: 'basic',
      title: 'Лиловая классика',
      descr: 'Цветочная композиция в\u00A0канделябре, свечи и\u00A0подсвечники 4\u00A0шт., серая скатерть для круглого стола',
      price: 5800,
      img: 'style-page-03-basic.png',
      imgXL: 'style-page-03-basic-desktop.webp',
      imgMD: 'style-page-03-basic-tablet.webp',
      imgSM: 'style-page-03-basic.webp',
    },
    {
      position: 'basic',
      title: 'Свадебная вечеринка',
      descr: 'Две цветочные композиции в\u00A0клоше и\u00A0две в\u00A0мини вазах, свечи и\u00A0подсвечники 4\u00A0шт., серая скатерть для круглого стола',
      price: 4300,
      img: 'style-page-04-basic.png',
      imgXL: 'style-page-04-basic-desktop.webp',
      imgMD: 'style-page-04-basic-tablet.webp',
      imgSM: 'style-page-04-basic.webp',
    },
    {
      position: 'basic',
      title: 'Припыленный монохром',
      descr: 'Цветочная композиция в\u00A0вазоне, тонкие свечи и\u00A0подсвечники 4\u00A0шт., серая скатерть для\u00A0круглого стола',
      price: 5800,
      img: 'style-page-05-basic.png',
      imgXL: 'style-page-05-basic-desktop.webp',
      imgMD: 'style-page-05-basic-tablet.webp',
      imgSM: 'style-page-05-basic.webp',
    },
    {
      position: 'basic',
      title: 'Моно из роз',
      descr: 'Три цветочные композиции в прозрачных вазах, тонкие свечи и\u00A0подсвечники 4\u00A0шт., бежевая скатерть для\u00A0круглого стола',
      price: 4250,
      img: 'style-page-06-basic.png',
      imgXL: 'style-page-06-basic-desktop.webp',
      imgMD: 'style-page-06-basic-tablet.webp',
      imgSM: 'style-page-06-basic.webp',
    },
    {
      position: 'basic',
      title: 'Современная классика',
      descr: 'Объемная композиция на\u00A0высокой стойке, тонкие свечи и\u00A0подсвечники 4\u00A0шт., серая скатерть для\u00A0круглого стола',
      price: 7300,
      img: 'style-page-07-basic.png',
      imgXL: 'style-page-07-basic-desktop.webp',
      imgMD: 'style-page-07-basic-tablet.webp',
      imgSM: 'style-page-07-basic.webp',
    },
    {
      position: 'basic',
      title: 'Лаконичный акцент',
      descr: 'Композиция из\u00A0стеклянных колб с\u00A0розами, тонкие свечи и\u00A0подсвечники 8\u00A0шт., серая скатерть для\u00A0круглого стола',
      price: 3900,
      img: 'style-page-08-basic.png',
      imgXL: 'style-page-08-basic-desktop.webp',
      imgMD: 'style-page-08-basic-tablet.webp',
      imgSM: 'style-page-08-basic.webp',
    },
    {
      position: 'basic',
      title: 'Воздушная нежность',
      descr: 'Композиция на\u00A0зеркальной подложке в\u00A0мини вазах, тонкие свечи и\u00A0подсвечники 4\u00A0шт., пудровая скатерть для\u00A0круглого стола',
      price: 4500,
      img: 'style-page-09-basic.png',
      imgXL: 'style-page-09-basic-desktop.webp',
      imgMD: 'style-page-09-basic-tablet.webp',
      imgSM: 'style-page-09-basic.webp',
    },
    //- Комплект сервировки на одну персону
    {
      position: 'onePersonSet',
      title: 'Нежность в\u00A0деталях',
      descr: 'Бокал, тарелка, тарелка сервировочная, приборы, салфетка',
      price: 796,
      img: 'style-page-01-single.png',
      imgXL: 'style-page-01-single-desktop.webp',
      imgMD: 'style-page-01-single-tablet.webp',
      imgSM: 'style-page-01-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Роскошь красок',
      descr: 'Бокал, тарелка, тарелка сервировочная, приборы, салфетка',
      price: 865,
      img: 'style-page-02-single.png',
      imgXL: 'style-page-02-single-desktop.webp',
      imgMD: 'style-page-02-single-tablet.webp',
      imgSM: 'style-page-02-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Лиловая классика',
      descr: 'Бокал, тарелка, тарелка сервировочная, приборы, салфетка',
      price: 600,
      img: 'style-page-03-single.png',
      imgXL: 'style-page-03-single-desktop.webp',
      imgMD: 'style-page-03-single-tablet.webp',
      imgSM: 'style-page-03-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Свадебная вечеринка',
      descr: 'Бокал, тарелка, тарелка сервировочная, приборы, салфетка',
      price: 625,
      img: 'style-page-04-single.png',
      imgXL: 'style-page-04-single-desktop.webp',
      imgMD: 'style-page-04-single-tablet.webp',
      imgSM: 'style-page-04-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Припыленный монохром',
      descr: 'Бокал, тарелка, тарелка сервировочная, салфетка',
      price: 390,
      img: 'style-page-05-single.png',
      imgXL: 'style-page-05-single-desktop.webp',
      imgMD: 'style-page-05-single-tablet.webp',
      imgSM: 'style-page-05-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Моно из роз',
      descr: 'Бокал, тарелка, тарелка сервировочная, салфетка, приборы',
      price: 815,
      img: 'style-page-06-single.png',
      imgXL: 'style-page-06-single-desktop.webp',
      imgMD: 'style-page-06-single-tablet.webp',
      imgSM: 'style-page-06-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Современная классика',
      descr: 'Бокал, тарелка, тарелка сервировочная, салфетка, приборы',
      price: 815,
      img: 'style-page-07-single.png',
      imgXL: 'style-page-07-single-desktop.webp',
      imgMD: 'style-page-07-single-tablet.webp',
      imgSM: 'style-page-07-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Лаконичный акцент',
      descr: 'Бокал, тарелка, тарелка сервировочная, салфетка, приборы',
      price: 796,
      img: 'style-page-08-single.png',
      imgXL: 'style-page-08-single-desktop.webp',
      imgMD: 'style-page-08-single-tablet.webp',
      imgSM: 'style-page-08-single.webp',
    },
    {
      position: 'onePersonSet',
      title: 'Воздушная нежность',
      descr: 'Бокал, тарелка, тарелка сервировочная, салфетка, приборы',
      price: 755,
      img: 'style-page-09-single.png',
      imgXL: 'style-page-09-single-desktop.webp',
      imgMD: 'style-page-09-single-tablet.webp',
      imgSM: 'style-page-09-single.webp',
    },
    //- Бокал
    {
      position: 'goblet',
      title: '',
      descr: '',
      price: 70,
      img: 'glass-01.png',
      imgXL: 'glass-01-desktop.webp',
      imgMD: 'glass-01-tablet.webp',
      imgSM: 'glass-01.webp',
    },
    {
      position: 'goblet',
      title: '',
      descr: '',
      price: 130,
      img: 'glass-02.png',
      imgXL: 'glass-02-desktop.webp',
      imgMD: 'glass-02-tablet.webp',
      imgSM: 'glass-02.webp',
    },
    //- Тарелка
    {
      position: 'plate',
      title: '',
      descr: '',
      price: 150,
      img: 'plate-01.png',
      imgXL: 'plate-01-desktop.webp',
      imgMD: 'plate-01-tablet.webp',
      imgSM: 'plate-01.webp',
    },
    {
      position: 'plate',
      title: '',
      descr: '',
      price: 160,
      img: 'plate-02.png',
      imgXL: 'plate-02-desktop.webp',
      imgMD: 'plate-02-tablet.webp',
      imgSM: 'plate-02.webp',
    },
    {
      position: 'plate',
      title: '',
      descr: '',
      price: 110,
      img: 'plate-03.png',
      imgXL: 'plate-03-desktop.webp',
      imgMD: 'plate-03-tablet.webp',
      imgSM: 'plate-03.webp',
    },
    //- Тарелка сервировочная
    {
      position: 'servingPlate',
      title: '',
      descr: '',
      price: 260,
      img: 'serving-plate-01.png',
      imgXL: 'serving-plate-01-desktop.webp',
      imgMD: 'serving-plate-01-tablet.webp',
      imgSM: 'serving-plate-01.webp',
    },
    {
      position: 'servingPlate',
      title: '',
      descr: '',
      price: 260,
      img: 'serving-plate-02.png',
      imgXL: 'serving-plate-02-desktop.webp',
      imgMD: 'serving-plate-02-tablet.webp',
      imgSM: 'serving-plate-02.webp',
    },
    {
      position: 'servingPlate',
      title: '',
      descr: '',
      price: 260,
      img: 'serving-plate-03.png',
      imgXL: 'serving-plate-03-desktop.webp',
      imgMD: 'serving-plate-03-tablet.webp',
      imgSM: 'serving-plate-03.webp',
    },
    {
      position: 'servingPlate',
      title: '',
      descr: '',
      price: 130,
      img: 'serving-plate-04.png',
      imgXL: 'serving-plate-04-desktop.webp',
      imgMD: 'serving-plate-04-tablet.webp',
      imgSM: 'serving-plate-04.webp',
    },
    {
      position: 'servingPlate',
      title: '',
      descr: '',
      price: 130,
      img: 'serving-plate-05.png',
      imgXL: 'serving-plate-05-desktop.webp',
      imgMD: 'serving-plate-05-tablet.webp',
      imgSM: 'serving-plate-05.webp',
    },
    //- Приборы
    {
      position: 'servingPlate',
      title: '',
      descr: '',
      price: 210,
      img: 'silverware.png',
      imgXL: 'silverware-desktop.webp',
      imgMD: 'silverware-tablet.webp',
      imgSM: 'silverware.webp',
    },
    //- Салфетка
    {
      position: 'tissue',
      title: '',
      descr: '',
      price: 80,
      img: 'tissue-01.png',
      imgXL: 'tissue-01.webp',
      imgMD: 'tissue-01.webp',
      imgSM: 'tissue-01.webp',
    },
    {
      position: 'tissue',
      title: '',
      descr: '',
      price: 80,
      img: 'tissue-02.png',
      imgXL: 'tissue-02.webp',
      imgMD: 'tissue-02.webp',
      imgSM: 'tissue-02.webp',
    },
    {
      position: 'tissue',
      title: '',
      descr: '',
      price: 80,
      img: 'tissue-03.png',
      imgXL: 'tissue-03.webp',
      imgMD: 'tissue-03.webp',
      imgSM: 'tissue-03.webp',
    },
    {
      position: 'tissue',
      title: '',
      descr: '',
      price: 80,
      img: 'tissue-04.png',
      imgXL: 'tissue-04.webp',
      imgMD: 'tissue-04.webp',
      imgSM: 'tissue-04.webp',
    },
    //- Свечи
    {
      position: 'candles',
      title: '',
      descr: '',
      price: 90,
      img: 'candles.png',
      imgXL: 'candles.webp',
      imgMD: 'candles.webp',
      imgSM: 'candles.webp',
    },
  ];
