-
  const catalogStyles = [
    {
      title: 'Нежность в деталях',
      img: 'style-01.png',
      imgXL: 'style-01-desktop.webp',
      imgMD: 'style-01-tablet.webp',
      imgSM: 'style-01.webp',
    },
    {
      title: 'Роскошь красок',
      imgXL: 'style-02-desktop.webp',
      imgMD: 'style-02-tablet.webp',
      imgSM: 'style-02.webp',
    },
    {
      title: 'Лиловая классика',
      imgXL: 'style-03-desktop.webp',
      imgMD: 'style-03-tablet.webp',
      imgSM: 'style-03.webp',
    },
    {
      title: 'Свадебная вечеринка',
      imgXL: 'style-04-desktop.webp',
      imgMD: 'style-04-tablet.webp',
      imgSM: 'style-04.webp',
    },
    {
      title: 'Припыленный монохром',
      imgXL: 'style-05-desktop.webp',
      imgMD: 'style-05-tablet.webp',
      imgSM: 'style-05.webp',
    },
    {
      title: 'Моно из роз',
      imgXL: 'style-06-desktop.webp',
      imgMD: 'style-06-tablet.webp',
      imgSM: 'style-06.webp',
    },
    {
      title: 'Современная классика',
      imgXL: 'style-07-desktop.webp',
      imgMD: 'style-07-tablet.webp',
      imgSM: 'style-07.webp',
    },
    {
      title: 'Лаконичный акцент',
      imgXL: 'style-08-desktop.webp',
      imgMD: 'style-08-tablet.webp',
      imgSM: 'style-08.webp',
    },
    {
      title: 'Воздушная нежность',
      imgXL: 'style-09-desktop.webp',
      imgMD: 'style-09-tablet.webp',
      imgSM: 'style-09.webp',
    },
  ];

  const catalogPositionCategories = {
    basic: 'Базовый комплект',
    onePersonSet: 'Комплект сервировки на\u00A0одну персону',
    goblet: 'Бокал',
    plate: 'Тарелка',
    dinnerPlate: 'Тарелка сервировочная',
    flatware: 'Приборы',
    napkin: 'Салфетка',
    candles: 'Свечи',
  };

  const catalogPositions = [
    {
      position: basic,
      title: 'Базовый комплект «Нежность в\u00A0деталях»',
      descr: 'Цветочная композиция в\u00A0вазе, тонкие свечи и\u00A0подсвечники 4\u00A0шт., пудровая скатерть   для\u00A0круглого стола',
      price: 5800,
      img: 'style-01.png',
      imgXL: 'style-01-desktop.webp',
      imgMD: 'style-01-tablet.webp',
      imgSM: 'style-01.webp',
    },
    {
      title: 'Базовый комплект «Роскошь красок»',
      descr: 'Цветочная композиция в вазе, тонкие свечи и\u00A0подсвечники 4\u00A0шт., пудровая скатерть   для\u00A0круглого стола',
      price: 5800,
      img: 'style-01.png',
      imgXL: 'style-01-desktop.webp',
      imgMD: 'style-01-tablet.webp',
      imgSM: 'style-01.webp',
    },
    {
      title: 'Базовый комплект «Нежность в\u00A0деталях»',
      descr: 'Цветочная композиция в вазе, тонкие свечи и\u00A0подсвечники 4\u00A0шт., пудровая скатерть   для\u00A0круглого стола',
      price: 5800,
      img: 'style-01.png',
      imgXL: 'style-01-desktop.webp',
      imgMD: 'style-01-tablet.webp',
      imgSM: 'style-01.webp',
    },
  ];
