-
  //- let siteRoot – нужен только для корректного отображения на gitPages, при необходимости заменить на '/', и проект пересоберётся с относительным путём;
  let siteRoot = 'https://alienamigo.github.io/MUNI/';

  const myPageTitle = "MUNI - студия декора событий | ";
