
footer.page-footer
  .page-footer__wrapper
    .page-footer__left-block
      a.page-footer__logo(href=`${routes.root}`)
        img.page-footer__logo-image(src="img/logo.svg" alt="MUNI лого")
      //- <nav class="page-footer__nav hide-mobile">
      //-   <ul class="main-nav__list">
      //-     <li class="main-nav__list-item main-nav__list-item--active">
      //-       <a>Главная</a>
      //-     </li>
      //-     <li class="main-nav__list-item">
      //-       <a href="catalog.html">Каталог</a>
      //-     </li>
      //-     <li class="main-nav__list-item">
      //-       <a href="#">Свадебная полиграфия</a>
      //-     </li>
      //-   </ul>
      //- </nav>
      .page-footer__copyright.hide-mobile &copy;&ensp;2020
    .page-footer__contacts
      .page-footer__contacts-first
        a.page-footer__phone(href="tel:+79992077407") 8&ensp;999&ensp;207&ensp;74&ensp;07
        a.page-footer__instagram(title="MUNI в Instagram" href="https://instagram.com/munidecor")
          span.visually-hidden MUNI в Instagram
      a.page-footer__email(href="mailto:muni.decor@gmail.com") muni.decor@gmail.com
