header.page-header
  .page-header__wrapper
    a.page-header__logo(href=`${routes.root}`)
      img.page-header__logo-image(src=`${routes.root}img/Logo.svg` alt="MUNI лого")

    include main-nav.pug

    .page-header__contacts
      a.page-header__phone(href="tel:+79992077407")
        <span class="hide-mobile">8&ensp;</span>999&ensp;207&ensp;74&ensp;07
      </a>
      <a href="https://instagram.com/munidecor " class="page-header__instagram" title="MUNI в Instagram">
        <span class="visually-hidden">MUNI в Instagram</span>
      </a>

    a.btn.btn--reverse.page-header__order(href=`${routes.order}`) Мой заказ

    <button class="page-header__nav-toggle page-header__nav-toggle--nojs" type="button">
      <span class="visually-hidden">Открыть меню</span>
    </button>
