//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')
  include data.pug

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name="format-detection" content="telephone=no")
    link(rel="preload" href="fonts/subset-Montserrat-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/subset-Cormorant-Bold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/subset-Roboto-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.css")
    script(src="js/script.min.js" async)
    block meta
      title #{myPageTitle}

    block head
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    include header.pug

    main.page-main
      block main

    include footer.pug

    .popup
      .popup-body
        .popup-close
        .popup-inner

    script(src='js/script.min.js' async)
