nav.main-nav.main-nav--nojs
  button.main-nav__close-btn
  a.main-nav__logo(href=`${routes.root}`)
    img.main-nav__logo-image(src='../img/logo.svg' alt="")
  ul.main-nav__list
    li.main-nav__list-item
      a(href=`${routes.catalog}`) Каталог
    li.main-nav__list-item
      a(href=`${routes.poligraph}`) Свадебная полиграфия
