@mixin pseudo {
  content: '';
  display: block;
  position: absolute;
}

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin hover {
  transition: opacity 0.35s ease-in;

  &:hover {
    opacity: 0.65;
  }
}

@mixin wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 656px;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
  }
}

// стилизация скролла эл-та
@mixin scroll-style($width: 10px, $scrollbar-color: rgba(0, 0, 0, 0)) {
  // стилизация скролла
  // Mozilla
  scrollbar-color: $scrollbar-color rgba(0, 0, 0, 0.4);
  scrollbar-width: thin;
  // Webkit
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: $scrollbar-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
